body {
  background-color: #171717;
  color: black;
  font-family: sans-serif;
  padding-bottom: 40px;
}

.row {
  padding: 0 40px;
}

.header {
  color: white;
  padding: 20px 0;
}

.header .row h1 {
  position: absolute;
  width: 100%;
  left: auto;
  left: 0;
  top: 13px;
  text-align: center;
  font-size: 30px;
  z-index: -1;
}

.header .row .go-back-btn,
.footer .row .go-back-btn,
.header .row .go-next-btn,
.footer .row .go-next-btn {
  font-size: 18px;
  float: left;
  margin-top: 6px;
  background-color: #9b1e2d;
  color: white;
  border-radius: 3px;
  padding: 12px;
  margin-right: 20px;
}

.header .row .go-back .glyphicon {
  top: 4px;
}

.header .row .logo {
  height: 60px;
  float: right;
}

.instructions {
  padding-top: 15px;
  padding-bottom: 40px;
  background-color: white;
}

.instructions .md {
  background-color: white;
  border-radius: 25px;
}

.main {
  padding: 30px 0;
  color: white;
}

.main .component {
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  min-height: 250px;
  padding: 30px;
  background-color: white;
}

.footer {
  text-align: center;
  color: #ddd;
}

.footer a {
  color: #9b1e2d;
}

.monospace {
  font-family: monospace;
}

.frame {
  border: 0;
  width: 100%;
  height: 100%;
}

#output {
  padding: 10px;
}
